.button {
    display: inline-block;
    padding: var(--space-2) var(--space-3);
    line-height: var(--line-height-sm);
    font-family: inherit;
    font-size: var(--font-size-75);
    letter-spacing: var(--letter-spacing-2);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background-color .2s;
    border: 0;
    cursor: pointer;
    @media #{$mq-sm} {
        padding: calc(var(--space-2) + var(--space-1)) var(--space-4);
    }
}
.button-primary {
    background: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-text);
    &:hover {
        background: var(--color-btn-primary-hover-bg);
    }
}
.button-secondary {
    background: var(--color-btn-secondary-bg);
    color: var(--color-btn-secondary-text);
    &:hover {
        background: var(--color-btn-secondary-hover-bg);
    }
}
.button-large {
    min-width: 10em;
    padding: var(--space-3) var(--space-4);
    font-size: var(--font-size-200);
}
