// buttons
@mixin btn() {
    display: inline-block;
    text-align: center;
    padding: .8em 1.2em;
    cursor: pointer;
    line-height: 1.2;
    font-size: .85rem;
    letter-spacing: .025em;
    text-transform: uppercase;
    overflow: hidden;
    color: $link;
    font-weight: bold;
    background-color: $btn-bg;
    text-decoration: none !important;
    border: 1px solid transparent;
    box-sizing: border-box;
    &:hover {
        background-color: $link;
        color: #fff;
        text-decoration: none;
        .synbol-plus {
            &:before,
            &:after {
                background-color: #fff;
            }
        }
    }
    img,svg {
        vertical-align: top;
        margin-right: .3em;
    }
    &.is-disabled {
        opacity: .4;
        cursor: default;
    }
    .synbol-plus {
        &:before,
        &:after {
            background-color: $link;
        }
    }
    &.btn-subscribe {
        padding: .5em .8em;
    }
}
@mixin btn-wh() {
    background-color: $bg;
    color: $base;
}
@mixin btn-primary() {
    background-color: $btn-bg-primary;
    border-color: $btn-bg-primary;
    color: $bg;
    &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $bg;
    }
}
@mixin btn-large() {
    padding: .7em 2em;
    font-size: 120%;
    box-sizing: border-box;
}
@mixin btn-small() {
    padding: 6px 12px; // material.io のchips相当
    font-size: 13px;
}
@mixin btn-block() {
    box-sizing: border-box;
    width: 100%;
}
@mixin btn-rounded() {
    border-radius: 64px;
}
