.button {
    display: inline-block;
    padding: var(--space-2) var(--space-3);
    line-height: var(--line-height-sm);
    font-family: inherit;
    font-size: var(--font-size-75);
    letter-spacing: var(--letter-spacing-2);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: all .25s;
    border: 0;
    cursor: pointer;
    @media #{$mq-sm} {
        padding: calc(var(--space-2) + var(--space-1)) var(--space-4);
    }
}
.button-primary {
    background: var(--color-btn-primary-bg);
    color: var(--color-btn-primary-text);
    &:hover {
        filter: brightness(1.15);
        transform: scale(1.1,1.1);
    }
}
.button-primary-ghost {
    color: var(--color-btn-primary-ghost-text);
    box-shadow: inset 0 0 0 1px var(--color-btn-primary-ghost-border);
    &:hover {
        background: var(--color-btn-primary-bg);
        color: var(--color-btn-primary-text);
    }
}
.button-large {
    min-width: 10em;
    padding: var(--space-3) var(--space-4);
    font-size: var(--font-size-200);
}
