@mixin container() {
    margin-left: var(--col-space);
    margin-right: var(--col-space);
    @media #{$mq-md} {
        margin-left: auto;
        margin-right: auto;
        width: var(--col-width);
        max-width: var(--col-width-lg);
    }
}

// container
.container {
    @include container();
}
.container-compact {
    @media #{$mq-lg} {
        display: flex;
        &::before {
            content: "";
            display: block;
            flex: 1;
        }
        .container-compact-content {
            width: var(--col-width-sm);
        }
    }
}
