@mixin container() {
    margin-left: 5vw;
    margin-right: 5vw;
    @media #{$mq-md} {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--col-width-lg);
    }
}

// container
.container {
    @include container();
}
