.countdown {
    display: flex;
    gap: var(--space-4);
    margin-top: var(--space-4);
}
.countdown-value {
    font-size: var(--font-size-400);
    line-height: var(--line-height-xs);
    font-weight: bold;
}
.countdown-label {
    text-transform: uppercase;
    font-size: var(--font-size-50);
    text-align: center;
}
