@font-face {
    font-family: 'TTHoves';
    src: url('https://static.tumblr.com/xlsgtjb/cWJqmcqkl/font.woff2') format('woff2'), url('https://static.tumblr.com/xlsgtjb/mZAqmcqk9/font.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'TTHoves';
    src: url('https://static.tumblr.com/xlsgtjb/FzUqmcqn2/font.woff2') format('woff2'), url('https://static.tumblr.com/xlsgtjb/wZkqmcqmx/font.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'TTHoves';
    src: url('https://static.tumblr.com/xlsgtjb/V96qmcqo3/font.woff2') format('woff2'), url('https://static.tumblr.com/xlsgtjb/W2Gqmcqnz/font.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
