.header {
    display: flex;
    align-items: center;
}
.header-content {
    flex: 1;
}
.header-image-layout {
    width: 60%;
}
.header-image-wrap {
    width: 100%;
    height: 0;
    position: relative;
    z-index: -1;
    padding-bottom: 100%;
}
.header-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-introduce {
    margin: 0 0 var(--space-2);
}
.header-title {
    margin-top: 0;
    margin-bottom: var(--space-4);
    margin-right: calc(-150% + 28%); // 右に余白入れる
    color: var(--color-text);
    font-size: var(--font-size-title);
    background: linear-gradient(90deg, var(--color-text) 45%, var(--color-text-invert) 45%);
    line-height: var(--line-height-xs);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header-subtitle {
    margin: var(--space-2) 0 0;
    font-size: var(--font-size-200);
    line-height: var(--line-height-sm);
    @media #{$mq-md} {
        font-size: var(--font-size-300);
    }
}
.action-button {
    margin-top: var(--space-4);
}
