// jumbotron
.jumbotron {
    padding: 3rem 0 0;
    margin-bottom: 3rem;
    .jumbotron-heading {
        margin: 0;
        font-size: 2.25rem;
        letter-spacing: .025em;
        font-weight: 500;
        line-height: 1;
        color: $text-primary;
        @media #{$mq-md} {
            font-size: 3.5rem;
        }
        .sub {
            opacity: .5;
        }
    }
    .lead {
        margin: 2rem 0 0;
        font-size: 1.5rem;
        line-height: 1.4;
        font-weight: 500;
        @media #{$mq-md} {
            font-size: 1.8rem;
        }
    }
    .jumbotron-p {
        margin: 1.5rem 0 0;
        font-size: 1.25rem;
        font-weight: 500;
    }
}
.jumbotron-inner {
    @include container;
}
