.member {
    display: flex;
    gap: var(--space-3);
    flex-direction: column;
    // 奇数・偶数でレイアウトが違う
    @media #{$mq-md} {
        &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: right;
        }
    }
    @media #{$mq-lg} {
        gap: var(--space-5);
        flex-direction: row;
        align-items: center;
    }
    & + .member {
        margin-top: var(--space-7);
    }
}
.member-fig {
    img {
        display: block;
        width: 180px;
        height: 180px;
        margin: auto;
    }
}
.member-content {

}
.member-role {
    color: var(--color-text-highlight);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-300);
    font-size: var(--font-size-75);
    font-weight: bold;
    margin-bottom: var(--space-2);
}
.member-name {
    margin: 0 0 var(--space-3);
    line-height: var(--line-height-xs);
    font-size: var(--font-size-300);
    @media #{$mq-lg} {
        font-size: var(--font-size-400);
    }
}
.member-profile {
    margin: 0 0 var(--space-3);
}
