// ページャ
.pagenation-index {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .025em;
    margin: 1.5rem auto;
    line-height: 1.25;
    span,
    a {
        display: inline-block;
        padding: .4em .6em;
    }

    a {
        color: $text;
        text-decoration: none;
        &:hover {
            background-color: $link;
            color: #fff;
        }
    }

    .current-page {
        background: #ccc;
        color: #fff;
    }
}
