.popular-posts {

}
.hatena-bookmark-widget-title,
.hatena-bookmark-widget-footer {
    display: none;
}

.hatena-bookmark-widget-body {
    ul {
        list-style: none;
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
        padding: 0;
        overflow: unset;
        flex-wrap: wrap;
    }
    li {
        flex: 1;
        flex-basis: 45%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        margin: 8px;
        padding: 5rem 1rem 1rem;
        background: $bg-light;
        position: relative;
        line-height: 1.4;
        letter-spacing: .025em;
        @media #{$mq-md} {
            width: 30%;
            flex-basis: auto;
        }
        a {
            color: $text;
            text-decoration: none;
            font-size: .95rem;
        }
    }
    .hatena-bookmark-count {
        position: absolute;
        top: 1rem;
        a {
            font-weight: normal;
            font-size: 1.25rem;
        }
    }
}
