// タイムテーブル
.schedule-table {
    .schedule-tr {
        @media #{$mq-sm} {
            display: flex;
            width: 100%;
            gap: var(--space-4);
        }
        &:not(:first-child) {
            margin-top: var(--space-4);
        }
    }
    .schedule-th {
        @media #{$mq-sm} {
            text-align: right;
            width: 48%;
            font-size: var(--font-size-400);
            line-height: var(--line-height-sm);
            flex-shrink: 0;
        }
    }
    .table-heading {
        margin: 0;
        font-size: var(--font-size-400);
        line-height: var(--line-height-sm);
    }
    .table-description {
        margin-top: var(--space-2);
    }
}
