.section {
    margin: var(--space-8) auto;
}
.section-header {
    margin-bottom: var(--space-8);
}
.section-heading {
    font-size: var(--font-size-title);
    margin: 0;
    line-height: var(--line-height-xs);
    font-weight: normal;
    @media #{$mq-xxl} {
        margin-left: calc(var(--space-9) * -1);
    }
}
