.section {
    margin: var(--space-9) auto;
}
.setion-wrapper {
    display: flex;
    gap: var(--space-4);
    flex-direction: column;
    @media #{$mq-md} {
        flex-direction: row;
    }
}
.setion-content {
    @media #{$mq-md} {
        width: 60%;
    }
    @media #{$mq-xl} {
        width: var(--col-width-sm);
    }
}
.section-header {
    flex: 1;
}
.section-heading {
    font-size: var(--font-size-400);
    margin: 0;
    line-height: var(--line-height-xs);
    @media #{$mq-md} {
        font-size: var(--font-size-600);
    }
}
