.section-stream {
    position: relative;
}
.stream-marquee {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: -15%;
    z-index: var(--z-index-bg);
    font-size: var(--font-size-title);
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-text-stroke: 1px var(--color-text);
    text-stroke: 1px var(--color-text);
    color: transparent;
    font-weight: bold;
    font-style: italic;
    &.stream-marquee-top {
        top: -15%;
        bottom: unset;
    }
}
@keyframes stream-marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes stream-marquee-reverse {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.marquee-text {
    display: inline-block;
}

.stream-player-container:hover ~ .stream-marquee .marquee-text {
    animation: stream-marquee 16s linear infinite;
}
.stream-player-container:hover ~ .stream-marquee-top .marquee-text {
    animation: stream-marquee-reverse 16s linear infinite;
}

.stream-player-container {
    max-width: var(--col-width-md);
    margin: 0 auto;
}
.stream-player {
    position: relative;
    padding-bottom: 56.25%; // プレイヤーを16:9比率にする
    .stream-player-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-base);
    }
}
