.section-stream {
    position: relative;
    margin: var(--space-9) auto;
}
.stream-marquee {
    overflow: hidden;
    width: 100%;
    position: absolute;
    z-index: var(--z-index-bg);
    font-size: var(--font-size-900);
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-text-stroke: 1px var(--color-text);
    text-stroke: 1px var(--color-text);
    color: transparent;
    font-weight: bold;
    font-style: italic;
    line-height: var(--line-height-xs);
    bottom: -.65em;
    @media #{$mq-md} {
        font-size: var(--font-size-title);
        bottom: -.5em;
    }
    &.stream-marquee-top {
        top: -.65em;
        bottom: unset;
        @media #{$mq-md} {
            top: -.5em;
        }
    }
}
@keyframes stream-marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes stream-marquee-reverse {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.marquee-text {
    display: inline-block;
}

.stream-player-container:hover ~ .stream-marquee .marquee-text {
    animation: stream-marquee 16s linear infinite;
}
.stream-player-container:hover ~ .stream-marquee-top .marquee-text {
    animation: stream-marquee-reverse 16s linear infinite;
}

.stream-player-container {
    margin-left: auto;
    margin-right: auto;
    @media #{$mq-md} {
        width: var(--col-width);
        max-width: var(--col-width-md);
    }
}
.stream-player {
    position: relative;
    padding-bottom: 56.25%; // プレイヤーを16:9比率にする
}
.stream-player-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media #{$mq-md} {
        border-radius: var(--border-radius-base);
    }
}
