<% var
pageTitle = "Toppage";
pageId = "index";
pageUrl = "";
pageDescription = "Awesome site";
%>
<% include ../_partial/_header %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">

<header>
    <video class="js-header-video" src="images/sample.mp4" autoplay playsinline muted loop width="500"></video>

    <img class="js-header-image hero" src="/images/sample.jpg">

    <div class="container">
        <h1 class="js-title">Title</h1>
    </div>
</header>

<section class="section-about">
    <div class="container">
        <h2>About</h2>
        <p class="js-introduction">Introduction</p>
    </div>
</section>

<section class="js-stream section-stream">
    <div class="container">
        <h2>Livestream</h2>
        <iframe  class="js-stream-twitch" src="https://player.twitch.tv/?channel=example&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>

        <!--
            <iframe class="js-stream-player" width="560" height="315" src="https://www.youtube.com/embed/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        -->
    </div>
</section>

<section class="section-schedule">
    <div class="container">
        <h2>Schedule</h2>
        <div class="js-schedule-items">
            <div class="js-schedule schedule-item">
                <div class="js-schedule-time schedule-time">00:00</div>
                <div class="js-schedule-name schedule-name">演者</div>
            </div>
        </div>
    </div>
</section>

Z
<% include ../_partial/_footer %>
