<% var
pageTitle = "Toppage";
pageId = "index";
pageUrl = "";
pageDescription = "Awesome site";
%>
<% include ../_partial/_header %>

<header>

    <video class="js-header-video" src="images/sample.mp4" autoplay playsinline muted loop width="500"></video>

    <img class="js-header-image" src="/images/sample.jpg">

    <h1 class="js-title">Title</h1>
    <p class="js-introduction">Introduction</p>
</header>

<div class="js-schedule-items">
    <div class="js-schedule">
        <div class="js-schedule-time">00:00</div>
        <div class="js-schedule-name">演者</div>
    </div>
</div>

<div class="js-stream">
<iframe class="js-stream-player" width="560" height="315" src="https://www.youtube.com/embed/" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<a href="" id="download">Download</a>

<div id="csv"></div>

<% include ../_partial/_footer %>
