<!DOCTYPE html>
<html data-accent-color="#F70138">
  <head>
    <meta charset="utf-8" />
    <title></title>

    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="theme-color" content="#F70138" id="meta-theme-color" />
    <link rel="stylesheet" href="_src/style.css" />
    <link rel="icon" href="favicon.png" id="favicon" />
  </head>
  <body class="page-index">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
