<% var
pageId = "index";
%>
<% include _header %>
<section class="setup">
  <div class="setup-inner">
    <header>
      <h1>Set up Kitekure</h1>
      <p>Kitekure へようこそ。セットアップをはじめましょう！</p>
    </header>
    <a href="preview.html" class="button button-primary button-large">Set up</a>
  </div>
</section>
<% include _footer %>
