<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>

    <meta name="viewport" content="width=device-width" />

    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />

    <meta property="fb:app_id" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="favicon.png" id="favicon" />
    <link rel="canonical" href="" />
  </head>
  <body class="page-index">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <div class="container">
      <header class="header">
        <div class="header-content">
          <div class="header-introduce js-header-introduce">Header Introduce</div>
          <h1 class="header-title js-title">Header Title</h1>
          <div class="header-subtitle-wrap js-header-subtitle-wrap">
            <p class="header-subtitle js-header-subtitle">Header Subtitle</p>
          </div>
          <div class="countdown js-countdown">
            <div class="countdown-days">
              <div class="countdown-value js-countdown-days">000</div>
              <div class="countdown-label">Days</div>
            </div>
            <div class="countdown-hours">
              <div class="countdown-value js-countdown-hours">00</div>
              <div class="countdown-label">Hrs</div>
            </div>
            <div class="countdown-mins">
              <div class="countdown-value js-countdown-mins">00</div>
              <div class="countdown-label">Mins</div>
            </div>
          </div>
          <div class="action-button">
            <a
              href=""
              class="
                button button-primary button-large
                js-action-button
                action-button-button
              "
            >
              Action Button
            </a>
          </div>
        </div>
        <div class="header-image-layout">
          <div class="header-image-wrap">
            <video
              class="header-image header-image-type-video js-header-video"
              src=""
              alt=""
              autoplay
              playsinline
              muted
              loop
              width="500"
            ></video>
            <img
              class="header-image header-image-type-image js-header-image"
              src=""
              alt=""
            />
          </div>
        </div>
      </header>
    </div>

    <section class="section-stream section js-stream">
      <div class="stream-player-container">
        <div class="stream-player">
          <iframe
            class="stream-player-player js-stream-player"
            src="https://player.twitch.tv/?channel=example&parent=localhost"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            width="620"
            height="378"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          >
          </iframe>
        </div>
      </div>
      <div class="stream-marquee stream-marquee-top">
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
      </div>
      <div class="stream-marquee">
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
      </div>
    </section>
    <nav class="nav-menu">
      <div class="nav-menu-inner">
        <a href="#about" class="nav-menu-link js-nav-link-about">About</a>
        <a href="#schedule" class="nav-menu-link js-nav-link-schedule">Schedule</a>
        <a href="#member" class="nav-menu-link js-nav-link-member">DJ/VJ</a>
        <a href="#overview" class="nav-menu-link js-nav-link-overview">Overview</a>
      </div>
    </nav>
    <section class="section section-about" id="about">
      <div class="container">
        <header class="section-header">
          <h2 class="section-heading">About</h2>
        </header>
        <div class="introduction-wrap js-introduction-wrap">
          <p class="introduction js-introduction">Introduction</p>
        </div>
      </div>
    </section>
    <section class="section section-schedule" id="schedule">
      <div class="container">
        <header class="section-header">
          <h2 class="section-heading">Schedule</h2>
        </header>
        <div class="schedule-table js-schedule-wrap">
          <div class="schedule-tr js-schedule">
            <div class="schedule-th js-schedule-time">20:30</div>
            <div class="schedule-td">
              <h4 class="table-heading js-schedule-name"></h4>
              <div class="table-description js-schedule-description"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-member" id="member">
      <div class="container">
        <header class="section-header">
          <h2 class="section-heading">DJ/VJ</h2>
        </header>

        <div class="member-wrap js-member-wrap">
          <div class="member js-member">
            <div class="member-fig">
              <img src="" alt="" class="js-member-image" />
            </div>
            <div class="member-content">
              <div class="member-role js-member-role">Role</div>
              <h3 class="member-name js-member-name">Name</h3>
              <p class="member-profile js-member-profile">
                Profile
              </p>
              <nav class="member-link js-member-link">
                <a
                  href=""
                  class="button button-primary-ghost js-member-url"
                >
                  Website
                </a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-overview" id="overview">
      <div class="container">
        <header class="section-header">
          <h2 class="section-heading">Overview</h2>
        </header>
        <div class="container-compact">
          <div class="container-compact-content">
            <dl class="overview js-overview">
              <dt class="overview-label">Event</dt>
              <dd class="overview-content js-event-title">Event Title</dd>
              <dt class="overview-label">Date</dt>
              <dd class="overview-content js-event-date">2000/01/01 00:00</dd>
              <dt class="overview-label js-event-venue-label">Venue Label</dt>
              <dd class="overview-content js-event-venue-content">Venue Content</dd>
              <dd class="overview-content js-event-venue-address">Address</dd>
              <dd class="overview-content">
                <iframe
                  src=""
                  width="100%"
                  height="400"
                  frameborder="0"
                  style="border: 0"
                  class="map-iframe js-event-venue-map"
                  title="Map"
                  allowfullscreen
                ></iframe>
              </dd>
              <dt class="overview-label js-overview-label">Overview</dt>
              <dd class="overview-content js-overview-content">Overview content</dd>
            </dl>
            <ul class="notice-wrap js-notice-wrap">
              <li class="notice js-notice">Notice</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <aside class="prebuild-banner js-prebuild">
      <div class="prebuild-content">
        <h1>Almost Done...!</h1>
        <p>あと一息で公開できます！ 右のボタンで公開用ファイルをダウンロードして、次のステップに進んでください。</p>
      </div>
      <div class="prebuild-action">
        <a href="/?prebuild=true" class="prebuild-download">👉 Download</a>
      </div>
    </aside>

    <script src="js/parse.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
