<!DOCTYPE html>
<html data-accent-color="#F70138">
  <head>
    <meta charset="utf-8" />
    <title></title>

    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="theme-color" content="#F70138" id="meta-theme-color" />
    <link rel="stylesheet" href="_src/style.css" />
    <link rel="icon" href="favicon.png" id="favicon" />
  </head>
  <body class="page-index">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <div class="header-wrapper">
      <header class="header">
        <div class="header-image-layout">
          <div class="header-image-wrap">
            <video
              class="header-image header-image-type-video js-header-video"
              src=""
              alt=""
              autoplay
              playsinline
              muted
              loop
              width="500"
            ></video>
            <img
              class="header-image header-image-type-image js-header-image"
              src=""
              alt=""
            />
          </div>
        </div>
        <div class="header-content">
          <h1 class="header-title js-title">Header Title</h1>
          <div class="header-subtitle-wrap js-header-subtitle-wrap">
            <p class="header-subtitle js-header-subtitle">Header Subtitle</p>
          </div>
          <div class="countdown js-countdown">
            <div class="countdown-days">
              <div class="countdown-value js-countdown-days">000</div>
              <div class="countdown-label">Days</div>
            </div>
            <div class="countdown-hours">
              <div class="countdown-value js-countdown-hours">00</div>
              <div class="countdown-label">Hrs</div>
            </div>
            <div class="countdown-mins">
              <div class="countdown-value js-countdown-mins">00</div>
              <div class="countdown-label">Mins</div>
            </div>
          </div>
          <div class="action-button">
            <a
              href=""
              class="
                button button-primary button-large
                js-action-button
                action-button-button
              "
            >
              Action Button
            </a>
          </div>
        </div>
      </header>
    </div>
    <div class="section-callout">
      <div class="container">
        <div class="callout-wrap js-callout-wrap">
          <div class="callout js-callout"></div>
        </div>
      </div>
    </div>
    <section class="section-stream js-stream">
      <div class="stream-player-container">
        <%# Twitch %>
        <div class="stream-player" id="twitch-embed">
          <iframe
            class="stream-player-player js-stream-player"
            src="https://player.twitch.tv/?channel=example&parent=example.com"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            width="620"
            height="378"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          >
          </iframe>
        </div>
        <%# YouTube Live %>
        <div class="stream-player" id="youtube-embed">
          <iframe
            class="stream-player-player js-stream-player"
            src="https://www.youtube.com/embed/"
            frameborder="0"
            allowfullscreen="true"
            scrolling="no"
            width="620"
            height="378"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          >
          </iframe>
        </div>
      </div>
      <div class="stream-marquee stream-marquee-top">
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
      </div>
      <div class="stream-marquee">
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
        <span class="marquee-text">
          Livestream Livestream Livestream Livestream
        </span>
      </div>
    </section>
    <nav class="nav-share">
      <a href="https://twitter.com/share" class="share-btn share-tw js-share-tw">
        <svg xmlns="http://www.w3.org/2000/svg" width="19.388" height="19" title="twitter" viewBox="0 0 19.388 19"><g transform="translate(0 -0.2)"><path d="M6.089,32.829a11.312,11.312,0,0,0,11.33-11.422c0-.168,0-.337-.015-.521a8.259,8.259,0,0,0,1.984-2.067,7.945,7.945,0,0,1-2.287.628,4.05,4.05,0,0,0,1.757-2.22,7.945,7.945,0,0,1-2.529.965,3.938,3.938,0,0,0-4.782-.811,4.027,4.027,0,0,0-1.988,4.47,11.274,11.274,0,0,1-8.2-4.211A4.038,4.038,0,0,0,2.59,23a3.711,3.711,0,0,1-1.8-.5v.061A4,4,0,0,0,3.968,26.49a3.927,3.927,0,0,1-1.787.077,3.959,3.959,0,0,0,3.7,2.787A7.822,7.822,0,0,1,.939,31.068,6.594,6.594,0,0,1,0,31.007a11.061,11.061,0,0,0,6.089,1.822" transform="translate(0 -14.48)" fill="#fff"/></g></svg>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php" class="share-btn share-fb js-share-fb">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" title="Facebook" viewBox="0 0 20 20.002"><g transform="translate(0.004 0.016)"><path d="M20,9.952a10,10,0,1,0-11.562,9.84v-6.96H5.9V9.952H8.433v-2.2a3.53,3.53,0,0,1,3.781-3.877,15.96,15.96,0,0,1,2.234.187v2.46H13.183a1.441,1.441,0,0,0-1.625,1.557V9.952h2.781l-.453,2.881H11.558v6.96A9.976,9.976,0,0,0,20,9.952Z" transform="translate(0)" fill="#fff"/><path d="M49.243,35.019l.649-3.223H45.906V29.7c0-.889.56-1.742,2.329-1.742h1.814V25.209a29.162,29.162,0,0,0-3.2-.209c-3.269,0-5.419,1.551-5.419,4.338V31.8H37.8v3.223h3.628v7.788a18.058,18.058,0,0,0,4.479,0V35.019Z" transform="translate(-33.807 -22.96)" fill="none"/></g></svg>
      </a>
      <a href="" class="add-to-calendar js-add-google-calendar" target="_blank" rel=
      "noopener">
        <span class="add-to-calendar-icon">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-7 5h5v5h-5z"/></svg>
        </span>
        <span class="add-to-calendar-label">
          Add to Google Calendar
        </span>
      </a>
    </nav>
    <nav class="nav-menu">
      <div class="nav-menu-inner">
        <a href="#about" class="nav-menu-link js-nav-link-about">About</a>
        <a href="#schedule" class="nav-menu-link js-nav-link-schedule">Schedule</a>
        <a href="#member" class="nav-menu-link js-nav-link-member">Member</a>
        <a href="#overview" class="nav-menu-link js-nav-link-overview">Overview</a>
      </div>
    </nav>
    <main>
      <section class="section section-about" id="about">
        <div class="container">
          <div class="section-wrapper">
            <header class="section-header">
              <h2 class="section-heading js-introduction-heading">About</h2>
            </header>
            <div class="setion-content">
              <div class="introduction-wrap js-introduction-wrap">
                <p class="introduction js-introduction">Introduction</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-schedule" id="schedule">
        <div class="container">
          <div class="section-wrapper">
            <header class="section-header">
              <h2 class="section-heading js-schedule-heading">Schedule</h2>
            </header>
            <div class="setion-content">
              <div class="schedule-table js-schedule-wrap">
                <div class="schedule-tr js-schedule">
                  <div class="schedule-th js-schedule-time">20:30</div>
                  <div class="schedule-td">
                    <h4 class="table-heading js-schedule-name"></h4>
                    <div class="table-description js-schedule-description"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-member" id="member">
        <div class="container">
          <div class="section-wrapper">
            <header class="section-header">
              <h2 class="section-heading js-member-heading">Member</h2>
            </header>
            <div class="setion-content">
              <div class="member-wrap js-member-wrap">
                <div class="member js-member">
                  <div class="member-fig">
                    <img src="" alt="" class="js-member-image" />
                  </div>
                  <div class="member-content">
                    <div class="member-role js-member-role">Role</div>
                    <h3 class="member-name js-member-name">Name</h3>
                    <p class="member-profile js-member-profile">
                      Profile
                    </p>
                    <nav class="member-link js-member-link">
                      <a
                        href=""
                        class="button button-primary-ghost js-member-url"
                      >
                        Website
                      </a>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-overview" id="overview">
        <div class="container">
          <div class="section-wrapper">
            <header class="section-header">
              <h2 class="section-heading">Overview</h2>
            </header>
            <div class="setion-content">
              <dl class="overview js-overview">
                <dt class="overview-label">Event</dt>
                <dd class="overview-content js-event-title">Event Title</dd>
                <dt class="overview-label">Date</dt>
                <dd class="overview-content js-event-date">2000/01/01 00:00</dd>
                <dt class="overview-label js-event-venue-label">Venue Label</dt>
                <dd class="overview-content js-event-venue-content">Venue Content</dd>
                <dd class="overview-content js-event-venue-address">Address</dd>
                <dd class="overview-content">
                  <iframe
                    src=""
                    width="100%"
                    height="400"
                    frameborder="0"
                    style="border: 0"
                    class="map-iframe js-event-venue-map"
                    title="Map"
                    allowfullscreen
                  ></iframe>
                </dd>
                <dt class="overview-label js-overview-label">Overview</dt>
                <dd class="overview-content js-overview-content">Overview content</dd>
              </dl>
              <ul class="notice-wrap js-notice-wrap">
                <li class="notice js-notice">Notice</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrapper">
          <div class="footer-content">
            <a href="/" class="footer-eventTitle js-footer-eventTitle">
            </a>
            <p class="footer-text js-footer-text"></p>
          </div>
          <div class="theme-info">
            <div class="theme-info-label">
              <p>Made with <a href="https://kitekure.sanographix.net" target="_blank" rel="noopener">Kitekure</a></p>
              <p>Template designed by <a href="https://sanographix.net" target="_blank" rel="noopener">SANOGRAPHIX</a></p>
            </div>
            <div class="theme-info-install">
              <a href="https://kitekure.sanographix.net" target="_blank" rel="noopener" class="install-btn">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <aside class="prebuild-banner js-prebuild">
      <button class="prebuild-toggle js-prebuild-toggle">▼</button>
      <div class="prebuild-container">
        <div class="prebuild-content">
          <h1>Almost Done...!</h1>
          <p>
            <strong>現在、プレビューを表示しています。</strong><br>
            あと一息で公開できます！ ページをよく確認して、内容に間違いなければ公開用ファイルをダウンロードしてください。次のステップに進みましょう！
          </p>
        </div>
        <div class="prebuild-action">
          <a href="/?prebuild=true" class="prebuild-download">👉 Download</a>
        </div>
      </div>
    </aside>

    <script src="_src/parse.js"></script>
    <script src="_src/script.js"></script>
  </body>
</html>
