.overview {
    margin: 0;
    a {
        color: var(--color-text);
        &:hover {
            color: var(--color-text-highlight);
        }
    }
}
.overview-label {
    color: var(--color-text-highlight);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-300);
    font-size: var(--font-size-75);
    font-weight: bold;
}
.overview-label:not(:first-child) {
    margin-top: var(--space-4);
}
.overview-content {
    margin: var(--space-2) 0 0;
}
.map-iframe {
    border-radius: var(--border-radius-base);
}
