@use "../global" as g;

// タイムテーブル
.schedule-table {
    .schedule-tr {
        @media #{g.$mq-lg} {
            display: flex;
            width: 100%;
            gap: var(--space-4);
        }
        &:not(:first-child) {
            margin-top: var(--space-4);
        }
    }
    .schedule-th {
        color: var(--color-text-highlight);
        line-height: var(--line-height-sm);
        font-weight: bold;
        margin-bottom: var(--space-1);
        @media #{g.$mq-lg} {
            margin-top: var(--space-1); // ちょっとずれて見えるので補正
            width: 180px;
            text-align: right;
            flex-shrink: 0;
        }
    }
    .table-heading {
        margin: 0;
        font-size: var(--font-size-300);
        line-height: var(--line-height-sm);
    }
    .table-description {
        margin-top: var(--space-2);
        color: var(--color-text-secondary);
        font-size: var(--font-size-75);
    }
}
