@use "../global" as g;

.section {
    margin: var(--space-8) auto;
}
.section-wrapper {
    display: flex;
    gap: var(--space-4);
    flex-direction: column;
    @media #{g.$mq-md} {
        flex-direction: row;
    }
}
.section:not(:first-child) .section-wrapper {
    border-top: 1px solid var(--color-border);
    padding-top: var(--space-4);
}
.setion-content {
    @media #{g.$mq-md} {
        width: 60%;
    }
    @media #{g.$mq-xl} {
        width: var(--col-width-sm);
    }
}
.section-header {
    flex: 1;
}
.section-heading {
    font-size: var(--font-size-400);
    margin: 0;
    line-height: var(--line-height-xs);
    @media #{g.$mq-md} {
        font-size: var(--font-size-600);
    }
}
