<!DOCTYPE html>
<html data-accent-color="#F70138">
  <head>
    <meta charset="utf-8" />
    <title><% if (pageId === 'setup') { %>Set up Kitekrue<% } else if (pageId === 'preview') {%><% } %></title>

    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="theme-color" content="#F70138" id="meta-theme-color" />
    <link rel="stylesheet" href="_src/style.css" />
    <% if (pageId === 'setup') { %>
      <meta name="robots" content="noindex" id="meta-robots-for-setup" />
    <% } %>
    <% if (pageId === 'preview') { %>
      <link rel="icon" href="" id="favicon" />
      <link rel="canonical" href="" id="canonical" />
    <% } %>
  </head>
  <body class="page-<%= pageId %>">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
