// Common
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.75;
    word-wrap: break-word;
}

a {
    color: var(--color-text);
    &:hover {
    }
}
p a,
.link {
    text-decoration: none;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-border);
}
