// Common
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background: var(--color-bg);
    color: var(--color-text);
    line-height: var(--line-height-base);
    word-wrap: break-word;
}
