:root{
    // Typography
    --font: 'DM Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    --font-size-50: 12px;
    --font-size-75: 14px;
    --font-size-100: 17px;
    --font-size-200: 20px;
    --font-size-300: 24px;
    --font-size-400: 32px;
    --font-size-500: 40px;
    --font-size-600: 48px;
    --font-size-700: 56px;
    --font-size-800: 64px;
    --font-size-900: 72px;
    --font-size-title: 120px;
    --line-height-xs: 1;
    --line-height-sm: 1.25;
    --line-height-base: 1.6;
    --line-height-lg: 1.75;
    --letter-spacing-200: .025em;
    --letter-spacing-300: .1em;
    --letter-spacing-400: .25em;

    // Spacing
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 40px;
    --space-7: 48px;
    --space-8: 64px;
    --space-9: 80px;

    // Column width
    --col-width: 90%;
    --col-width-sm: 720px;
    --col-width-md: 940px;
    --col-width-lg: 1200px;
    --col-width-xl: 1400px;

    --col-space: 5vw;

    --border-radius-base: 16px;

    // z-index
    --z-index-bg: -1;
    --z-index-base: 1;
    --z-index-modal: 10;

    // Color
    // Global tokens
    --color-white: #fff;
    --color-ivory: #F0EDEA;
    --color-red: #F70138;
    --color-black: #000;
    --color-gray-100: #111111;
    --color-gray-200: #222222;
    --color-gray-300: #333333;
    --color-gray-400: #444444;
    --color-gray-800: #888888;
    --color-gray-900: #dddddd;
    --color-primary: var(--color-red);
    --color-service: rgb(97, 7, 170);
    --color-white-transparent: rgba(255,255,255,.16);  // 背景の上に薄い色を重ねたいとき
    --color-black-transparent: rgba(0,0,0,.08);  // 背景の上に薄い色を重ねたいとき

    // Alias tokens
    --color-bg: var(--color-gray-100);
    --color-bg-secondary: var(--color-gray-200);
    --color-bg-white: var(--color-white);
    --color-bg-white-secondary: var(--color-gray-900);
    --color-text: var(--color-white);
    --color-text-invert: var(--color-black);
    --color-text-secondary: var(--color-gray-800);
    --color-text-highlight: var(--color-primary);
    --color-text-white: var(--color-white);

    --color-btn-primary-bg: var(--color-primary);
    --color-btn-primary-text: var(--color-text);
    --color-btn-primary-ghost-border: var(--color-primary);
    --color-btn-primary-ghost-text: var(--color-primary);

    --color-border: var(--color-white-transparent);
    --color-blur: var(--color-white-transparent);
}

:root[data-theme='Light'] {
    --color-bg: var(--color-ivory);
    --color-bg-secondary: var(--color-gray-900);
    --color-text: var(--color-gray-200);
    --color-text-secondary: var(--color-gray-800);
    --color-text-invert: var(--color-white);
    --color-border: var(--color-black-transparent);
    --color-blur: var(--color-black-transparent);
}

// media queries
$mq-sm: "(min-width: 576px)";
$mq-md: "(min-width: 768px)";
$mq-lg: "(min-width: 992px)";
$mq-xl: "(min-width: 1280px)";
$mq-xxl: "(min-width: 1600px)";
